<ion-view title="Search a Song">  
  <ion-content>
    <form ng-submit="searchSoundCloud(searchQuery)">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchQuery">
      </label>
    </form>
    <ion-list>               
      <ion-item ng-repeat="result in results" type="item-text-wrap"> 
        <div class="list">
          <a class="item item-thumbnail-left" ng-href="#/tab/post2/{{result.id}}">
            <img ng-src="{{result.artwork_url}}">
            <h2>{{result.title}}</h2>
            <p>Genre: {{result.genre}}</p>
            <i class="icon ion-music-note assertive"></i>
          </a>
        </div>
      </ion-item>             
    </ion-list> 
  </ion-content>     
</ion-view>