<ion-view title="Feed">  
  <ion-content>
    <ion-list>               
      <ion-item ng-repeat="song in songs" type="item-text-wrap"> 
        {{song.track}}
        <span class="badge badge-balanced">{{song.url}}</span>
      </ion-item>             
    </ion-list> 
    <!--  -->
<!--     <div class="card assertive">                   
      <div class="item item-text-wrap">
        Total Spent:
        <span class="badge badge-positive">{{getTotal()}}</span>
      </div>               
    </div>     -->    
  </ion-content>     
<!--   <ion-footer-bar>
    
  </ion-footer-bar>    -->
</ion-view>